{% extends "dear_diary/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row g-6 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4 d-flex flex-column position-static">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-outline-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <a href="{% url 'dear_diary:note_list' %}" class="btn btn-light">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}